<div class="jumbotron">
  <h1>Welcome to Tooter</h1>
  <p>toot all day long with me paige and ur frands and also some fake peeple</p>
  <button type="button" class="btn btn-default">
    <%= link_to "Register Here!", new_user_registration_url %>
  </button>

</div>
